{% extends "base.html" %}

{% block title %}All Tasks{% endblock title %}

{% block content %}

	<div class="center-column">

		<form action="/" method = "POST">
			{% csrf_token %}
			{{ form.title }}
			<button class="btn btn-info" type="submit">Create Task</button>
		</form>


		
		{% for task in tasks %}
			<div class="item-row">
				{% if task.completed %}
					<strike>{{ task }}</strike>
				{% else %}
					<p>{{ task }}</p>
				{% endif %}
				<a class="btn btn-sm btn-info" href="{% url "update" task.id %}">Update</a>
				<a class="btn btn-sm btn-danger" href="{% url "delete" task.id %}">Delete</a>
			</div>
		{% endfor %}
	</div>
{% endblock content %}



